<div class="container d-flex justify-content-center align-items-center min-vh-100">
<div class="row g-0 d-flex justify-content-between align-items-center w-100">
    <div class="col-sm-12 col-md-6 col-lg-5 login">
        <div class="form-section position-relative">
            <div class="form-header">
                <img src="../../../../assets/media/header-sign.svg" class="w-100" alt="">
            </div>
            <div class="form-title">{{"SIGNIN" | translate}}</div>
            <div class="form-subtitle">
                    {{"DONTHAVEACCOUNT" | translate}} <span class="signup-link" [routerLink]="['/register']">{{"SIGNUP" | translate}}</span>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                <div class="form-group">
                    <label class="required" for="email">{{"EMAIL" | translate}}</label>
                    <input type="email" 
                    id="email" 
                    class="form-input"
                    formControlName="email" 
                    placeholder="{{'ENTER_EMAIL_ADDRESS' | translate}}">
                    <small class="text-danger" 
                    *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']">
                        {{ 'FIELD_REQUIRED' | translate }}
                    </small>
                    <small class="text-danger" 
                    *ngIf="loginForm.get('email')?.errors?.['email']">
                        {{ 'EMAIL_INVALID' | translate }}
                    </small>
                </div>
                
                <div class="form-group">
                    <label class="required" for="password">{{"PASSWORD" | translate}}</label>
                    <div class="position-relative">
                    <input [type]="showPassword ? 'text' : 'password'"  
                    id="password" 
                    class="form-input " 
                    formControlName="password"
                    placeholder="{{'ENTER_PASSWORD' | translate}}">
                    <button style="position: absolute;top: 50%;right: 0%;transform: translateX(-50%);transform: translateY(-50%);" mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
                    <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <small class="text-danger" 
                    *ngIf="loginForm.get('password')?.touched 
                    && loginForm.get('password')?.errors?.['required']">
                        {{ 'FIELD_REQUIRED' | translate }}
                    </small>
                    <small class="text-danger" 
                    *ngIf="loginForm.get('password')?.errors?.['minlength']">
                        {{ 'MIN_LENGTH_8' | translate }}
                    </small>
                    <small class="text-danger" 
                    *ngIf="loginForm.get('password')?.errors?.['pattern']">
                        {{ 'PASSWORD_PATTERN' | translate }}
                    </small>
                    </div>
                </div>
                
                <div class="form-options">
  <div class="remember-me">
    <input type="checkbox" formControlName="rememberMe" id="remember">
<label for="remember">{{"REMMEBERME" | translate}}</label>

  </div>
  <a [routerLink]="['/forget-password']" href="#" class="forgot-password">{{"FORGET_PASSWORD" | translate}}</a>
</div>

                
                <button [disabled]="loginForm.invalid" type="submit" class="signin-button">
                    {{"SIGNIN" | translate}}
                </button>
                
                <div class="divider">
                    <span>{{"ORWITH" | translate}}</span>
                </div>
                
                <div class="social-login">
                    <div class="social-button "><i class="fa-brands fa-google"></i></div>
                    <div class="social-button"><i class="fa-brands fa-facebook"></i></div>
                    <div class="social-button "><i class="fa-brands fa-apple"></i></div>
                </div>
            </form>
        </div>
    </div>
    <div class=" col-lg-7 col-md-6 d-md-flex justify-content-end align-items-center img-container">
        <img src="../../../../assets/media/login.svg" class="" alt="design">
    </div>
</div>
</div>


