h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-gray-home-about);
  span mat-icon {
    cursor: pointer;
    font-size: 30px;
  }
}

.search-form-control {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  border: 1px solid var(--text-gray) !important;
  background-color: var(--bg-white);
  color: var(--text-gray);
}
.search-form-control:focus {
  outline: none;
  border: 1px solid var(--text-gray) !important;
  background: none !important;
}
.btn-search {
  position: absolute;
  top: 12%;
  right: 10px;
  color: var(--bg-white) !important;
  background-color: var(--bg-brown-medium);
  border-radius: 25px;
  border: none !important;
  padding: 9px 15px;
}

.dropdown {
    background-color: var(--bg-light-gray) !important;
    border-radius: 7px;
}


  @keyframes cardFadeUp {
  from {
    opacity: 0;
    transform: translateY(30px) scale(0.80);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.table {
  animation: cardFadeUp 0.9s ease forwards;
}

.table thead th {
  font-weight: 400;
  font-size: 1.2rem;
  background: var(--bg-white);
  color: var(--text-black-white);
}
.table tbody td {
  background: var(--bg-white-secondary);
  color: var(--text-black-white);
}
// .status-cell {
//   display: flex;
//   align-items: center;
// //   gap: 6px;
// }

// .status-cell mat-icon {
//   font-size: 18px;
//   height: 18px;
//   width: 18px;
// }


// .status-text {
//   font-weight: 600;
// }

.in-stock {
  color: green;
}

.low-stock {
  color: #e6a400; // أصفر غامق
}

.signin-button {
  &.close{
  background: var(--text-light-gray) !important;}
}
.signin-button.cancel {
  background: transparent !important;
  border: 2px solid var(--bg-brown-medium) !important;
  color: var(--bg-brown-medium) !important;
}

.modal-body {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--bg-white-secondary);
  h4 {
    color: var(--text-light-gray);
    font-size: 1.1rem;
    font-weight: 500;
  }
  span ,p{
    font-size: 1rem;
    color: var(--text-gray);
  }
  .mini-table {
    padding: 10px;
  }
  .header {
    color: var(--bg-white);
    background-color: var(--bg-brown-medium) !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  .body {
    color: #000;
    background-color: var(--bg-brown-light) !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

}


@media (max-width: 600px) {
  .table thead th , .table tbody td {
  font-size: 13px;
  }
}
