<div class="section">
  <div class="row d-flex align-items-center justify-content-between mb-3 mx-3">
    <div class="col-lg-6">
      <h3>{{ "Clinics" | translate }}</h3>
    </div>
    
    <div
      class="col-lg-4 col-md-12 d-flex justify-content-end align-items-center"
    >
      <button
        class="signin-button w-auto d-flex align-items-center justify-content-center"
        [routerLink]="['add']"     
      >
        <mat-icon>add</mat-icon>
        {{ "add_material" | translate }}
      </button> 
    </div>      
  </div>  

  <div class="row d-flex align-items-center justify-content-ceter mb-3 mx-2">
    <!-- Search -->
    <div class="d-flex justify-content-center mb-4">
      <div class="col-sm-12 col-md-6 d-flex position-relative">
        <input
          type="text"
          class="search-form-control"
          placeholder="{{ 'search_material' | translate }}"
        />
        <div>
          <button class="btn-search">
            {{ "Search" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex align-items-center justify-content-between mb-3 mx-3">
    <div class="col-lg-2 col-sm-3">
      <div class="dropdown">
        <button
          class="btn dropdown-toggle w-100"
          type="button"
          data-bs-toggle="dropdown"
        >
          <ng-container *ngIf="!selectedStatus">
            {{ "status" | translate }}
          </ng-container>
          <ng-container *ngIf="selectedStatus">
            {{ selectedStatus }}
          </ng-container>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" (click)="changeStatus('In Stock')"
              >In Stock</a
            >
          </li>
          <li>
            <a class="dropdown-item" (click)="changeStatus('Low Stock')"
              >Low Stock</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center mb-4 mx-3">
    <div class="table-responsive my-2">
      <table class="table align-middle">
        <thead>
          <tr>
            <th>{{ "doctor_name" | translate }}</th>
            <th>{{ "total_used" | translate }}</th>
            <th>{{ "remaining" | translate }}</th>
            <th>{{ "error_rate" | translate }}</th>
            <th>{{ "status" | translate }}</th>
            <th>{{ "action" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clinic of [1, 2]" stryle="cursor: pointer;">
            <td>safy ibrahim</td>
            <td>stock based</td>
            <td>30</td>
            <td>420gm</td>
            <td class="status-cell">
              <!-- <mat-icon class="in-stock">check_circle</mat-icon> -->
              <span class="status-text in-stock">In Stock</span>
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openViewModal()">
                  <mat-icon>visibility</mat-icon>
                  <span>{{"view_details" | translate}}</span>
                </button>
                <button mat-menu-item (click)="openEditModal()">
                  <mat-icon>edit</mat-icon>
                  <span>{{"edit" | translate}}</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>refresh</mat-icon>
                  <span>{{"re_fill" | translate}}</span>
                </button>
                <button mat-menu-item (click)="openDeleteModal()">
                  <mat-icon>delete</mat-icon>
                  <span>{{"delete" | translate}}</span>
                </button>
              </mat-menu>
            </td>
          </tr>
          <tr *ngFor="let clinic of [1, 2]" stryle="cursor: pointer;">
            <td>safy ibrahim</td>
            <td>stock based</td>
            <td>30</td>
            <td>420gm</td>
            <td class="status-cell">
              <!-- <mat-icon class="low-stock">warning</mat-icon> -->
              <span class="status-text low-stock">Low Stock</span>
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openViewModal()">
                  <mat-icon>visibility</mat-icon>
                  <span>{{"view_details" | translate}}</span>
                </button>
                <button mat-menu-item (click)="openEditModal()">
                  <mat-icon>edit</mat-icon>
                  <span>{{"edit" | translate}}</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>refresh</mat-icon>
                  <span>{{"re_fill" | translate}}</span>
                </button>
                <button mat-menu-item (click)="openDeleteModal()">
                  <mat-icon>delete</mat-icon>
                  <span>{{"delete" | translate}}</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination
      [totalItems]="50"
      [pageSize]="11"
      [currentPage]="CurrentPage"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </div>
</div>


<app-modal 
  [isOpen]="isEditModalOpen" 
  title='{{"edit_material" | translate}} '
  size="medium" 
  (close)="closeEditModal()">

  <!-- Body -->
  <div modal-body>
    <div class="form-group">
                    <label for="new-qua">{{"material_new" | translate}}</label>
                    <input type="number" 
                    id="new-qua" 
                    class="form-input"
                    formControlName="new-qua" 
                    placeholder="{{'ENTER_NEW_QUANTITY' | translate}}">
                </div>
  </div>

  <!-- Footer -->
  <div modal-footer class="d-flex justify-content-between w-100">
    <div class="w-50 m-1">
      <button class="signin-button">{{"add" | translate}}</button>
    </div>
    <div class="w-50 m-1">
      <button class="signin-button cancel" (click)="closeEditModal()">
        {{"cancel" | translate}}
      </button>
    </div>
  </div>

</app-modal>

  <app-modal 
  [isOpen]="isViewModalOpen" 
  title='{{"material_details" | translate}}'
  size="large" 
  (close)="closeViewModal()">

  <!-- Body -->
  <div modal-body class="modal-body">
    <h4>{{ "scientific_name" | translate }}: <span>24</span></h4>
    <h4>{{ "trade_name" | translate }}: <span>24</span></h4>
    <h4>{{ "status" | translate }}: <span class="low-stock">Low Stock</span></h4>
    <hr />
    <div class="row mx-auto">
      <div class="mini-table header d-flex justify-content-between">
        <div class="col-3">{{"total_used" | translate}}</div>
        <div class="col-3">{{"remaining" | translate}}</div>
        <div class="col-3">{{"error_rate" | translate}}</div>
        <div class="col-3">{{"avg_usage_case" | translate}}</div>
      </div>
      <div class="mini-table body d-flex justify-content-between">
        <div class="col-3">{{"total_used" | translate}}</div>
        <div class="col-3">{{"remaining" | translate}}</div>
        <div class="col-3">{{"error_rate" | translate}}</div>
        <div class="col-3">{{"avg_usage_case" | translate}}</div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div modal-footer class="w-100 mt-2">
    <button class="signin-button close" (click)="closeViewModal()">
      {{ "close" | translate }}
    </button>
  </div>

</app-modal>

<app-modal 
  [isOpen]="isDeleteModalOpen" 
  title='{{"delete_material" | translate}}'
  size="small" 
  (close)="closeDeleteModal()">

  <!-- Body -->
  <div modal-body class="modal-body">
    <p>{{"msg_delete_material"}}</p>
  </div>

  <!-- Footer -->
  <div modal-footer class="d-flex justify-content-between w-100">
    <div class="w-50 m-1">
      <button class="signin-button">{{"delete" | translate}}</button>
    </div>
    <div class="w-50 m-1">
      <button class="signin-button cancel" (click)="closeDeleteModal()">
        {{"cancel" | translate}}
      </button>
    </div>
  </div>

</app-modal>


