.patient-card {
  padding: 15px;
  border: 1px solid var(--text-gray);
  border-radius: 6px;
  background: var(--bg-white);
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-5px);
  }

  .patient-details {
    // padding: 10px;

    .title h5{
      font-size: 1.2rem;
      font-weight: 600;
      color: var(text-gray-head-table);
      span {
        color: var(--text-gray);
      }
    }
    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 500;
      color: var(--text-gray);
    }
    .view-details {
      cursor: pointer;
      h3{
      margin: 0;
      font-size: 1.1rem;
      font-weight: 700;
      color: var(--bg-brown-medium);
    }
    mat-icon {
        color: var(--bg-brown-medium) !important;
      }
    }

  }
}

.signin-button.cancel {
  background: transparent !important;
  border: 2px solid var(--bg-brown-medium) !important;
  color: var(--bg-brown-medium) !important;
}
.modal-body {
  padding: 0px 10px;
  h6 {
    color: var(--text-gray);
            font-weight: 500;
            margin-bottom: 8px;
            font-size: 14px;
  }
  .action-btn {
    width: fit-content;
    min-width: 50%;
    display: flex;
    justify-content: center;
    padding: 15px 10px ;
    margin-right: 5px;
    &.male {
        background: var(--bg-brown-medium);
        color: var(--bg-white);
        border: none;
        border-radius: 12px;
    }
    &.female {
        background: transparent;
        color: var(--bg-brown-medium);
        border: 2px solid var(--bg-brown-medium);
        border-radius: 12px;
    }
}
  .toggle-password {
  position: absolute;
  top: 50%;
  right: 10px !important;
  color: var(--text-gray);
  cursor: pointer;
}

}