<div class="container py-3">
  <div class="row d-flex align-items-center justify-content-between mb-3 mx-3">
    <div class="col-lg-6">
      <h3>
        {{ "Patients" | translate }}
        <span>
          <mat-icon>keyboard_arrow_left</mat-icon>
        </span>
        {{ "patient_profile" | translate }}
        <span [routerLink]="['/dashboard/patient-list']">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </span>
        <h3 style="color: var(--text-gray-head-table); display: inline-block">
          {{ currentTitle | translate }}
        </h3>
      </h3>
    </div>
    <div class="col-lg-6 d-flex justify-content-end align-items-center">
      <button (click)="openEditPatient()" mat-icon-button class="action edit mx-1">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="openDeletePatient()" mat-icon-button class="action delete mx-1">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="row patient-header d-flex align-items-center justify-content-between my-3 mx-3"
  >
    <!-- Left side: Patient Info -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-2">
          <img src="../../../../../../../assets/media/pic-not-found.png" class="w-100" alt="" />
        </div>
        <div class="col-10">
          <h3 class="mb-1">{{patientData.user.fullName}}</h3>
          <p class="mb-1">{{patientData.gender}}, {{patientData.age}}</p>
          <p class="mb-1">{{"patient_id" | translate}}: <span>#4444</span></p>
        </div>
        <div class="col-12">
          <div class="last-visited">
            {{"last_visited" | translate}}: <span> 12 Dec 2024 2:32 AM</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Right side: Contact Info + Actions -->
    <div class="col-md-6 d-flex">
      <div class="line d-md-block d-sm-none"></div>
      <div class="ms-3">
        <p>
          <mat-icon class="me-2">location_on</mat-icon> {{ "patient.address" }}
        </p>
        <p>
          <mat-icon class="me-2">call</mat-icon> {{patientData.user.phoneNumber}}
        </p>
        <p>
          <mat-icon class="me-2">email</mat-icon> {{patientData.user.email}}
        </p>
      </div>
    </div>
  </div>

  <div class="tabbar" role="tablist" aria-label="Patient sections">
    <a
      *ngFor="let t of tabs"
      [routerLink]="t.link"
      routerLinkActive="active"
      #rla="routerLinkActive"
      [routerLinkActiveOptions]="{ exact: true }"
      class="tab"
      role="tab"
      [attr.aria-selected]="rla.isActive ? 'true' : 'false'"
    >
      {{ t.label | translate }}
    </a>
  </div>

  <div class="mt-3">
    <router-outlet></router-outlet>
  </div>

  <hr>
  <div class="d-flex justify-content-between row mx-4">
        <div class="col-lg-5 col-md-6 col-sm-12" (click)="goToStartCase()">
          <button class="signin-button btn d-flex align-items-center justify-content-center">
            <mat-icon>add</mat-icon>
            <h5 class="m-0">{{ "start_case" | translate }}</h5>
          </button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <button class="signin-button btn d-flex align-items-center justify-content-center">
            <mat-icon>refresh</mat-icon>
            <h5 class="m-0">{{ "refer" | translate }}</h5>
          </button>
        </div>
  </div>
</div>


<app-modal
  [isOpen]="isEditPatientModalOpen"
  title="{{ 'edit_patient' | translate }}"
  size="medium"
  (close)="closeAddPatient()"
>
  <!-- Body -->
  <div modal-body class="modal-body">
    <div class="form-group">
      <label for="name">{{ "full_name" | translate }}</label>
      <input
        type="text"
        id="name"
        class="form-input"
        formControlName="name"
        placeholder="{{ 'enter_full_name' | translate }}"
      />
    </div>
    <div class="form-group">
      <label for="email">{{ "Email" | translate }}</label>
      <input
        type="email"
        id="email"
        class="form-input"
        formControlName="email"
        placeholder="{{ 'ENTER_EMAIL_ADDRESS' | translate }}"
      />
    </div>
    <div class="form-group">
      <label for="phone_number">{{ "PHONENUMBER" | translate }}</label>
      <input
        type="tel"
        id="phone_number"
        class="form-input"
        formControlName="phone_number"
        placeholder="{{ 'enter_phone_number' | translate }}"
      />
    </div>
    <div class="form-group position-relative">
  <label for="password">{{ "PASSWORD" | translate }}</label>
  
  <input
    [type]="showPassword ? 'text' : 'password'"
    id="password"
    class="form-input pe-5"
    formControlName="password"
    placeholder="{{ 'ENTER_PASSWORD' | translate }}"
  />

  <mat-icon
    class="toggle-password"
    (click)="showPassword = !showPassword"
    style="cursor: pointer;"
  >
    {{ showPassword ? 'visibility_off' : 'visibility' }}
  </mat-icon>
</div>

    <div class="row d-flex align-items-center">
      <div class="col-6">
        <div class="form-group">
          <label for="age">{{ "age" | translate }}</label>
          <input
            type="number"
            id="age"
            class="form-input"
            formControlName="age"
            placeholder="{{ 'enter_age' | translate }}"
          />
        </div>
      </div>
      <div class="col-6">
        <div> <h6> {{"gender" | translate}}</h6></div>
        <div class="d-flex mb-4">
          <button class="action-btn male">{{"male" | translate}}</button>
          <button class="action-btn female">{{"female" | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div modal-footer class="d-flex justify-content-between w-100">
    <div class="w-50 m-1">
      <button class="signin-button">{{ "save" | translate }}</button>
    </div>
    <div class="w-50 m-1">
      <button class="signin-button cancel" (click)="closeAddPatient()">
        {{ "cancel" | translate }}
      </button>
    </div>
  </div>
</app-modal>

<app-modal 
  [isOpen]="isDeletePatientModalOpen" 
  title='{{"delete_patient" | translate}}'
  size="medium" 
  (close)="closeDeletePatient()">

  <!-- Body -->
  <div modal-body class="modal-body text-center">
    <img src="../../../../../../../assets/media/delete-Frame (2).svg" alt="">
    <h5 class="my-2">{{"msg_delete_patient" | translate}}</h5>
    <h6 class="my-2">{{"msg_delete_details" | translate}}</h6>
  </div>

  <!-- Footer -->
  <div modal-footer class="d-flex justify-content-between w-100">
    <div class="w-50 m-1">
      <button class="signin-button delete">{{"yes" | translate}}</button>
    </div>
    <div class="w-50 m-1">
      <button class="signin-button" (click)="closeDeletePatient()">
        {{"no" | translate}}
      </button>
    </div>
  </div>

</app-modal>