.page-link {
  color: var(--number-pagination);
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  display: flex;             
  align-items: center;        
  justify-content: center;    
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border: none !important;
}

.page-item.active .page-link {
  background: var(--bg-brown-gradient);
  color: #fff;
  border: none;
}

.page-item.disabled .page-link {
  color: #ccc;
  cursor: default;
}
.page-link.prev-btn,
.page-link.next-btn {
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #b19e7f !important;
}