
.date-btn {
  border: none;
  background: transparent;
  font-weight: 500;
  color: #6c6c6c;
}

.new-appointment-btn {
  background-color: #8b7a5e;
  color: #fff;
  border-radius: 6px;
  padding: 6px 14px;
  border: none;
}

.btn-search {
  background: #8b7a5e;
  color: #fff;
}

.calendar {
  display: flex;
  border-top: 1px solid #eee;
  margin-top: 20px;
  background-color: white;
}

.time-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.time {
  height: 60px;
  font-size: 12px;
  color: #888;
  padding: 0px 5px;
}

.appointments-grid {
  flex: 1;
  display: grid;
  grid-template-rows: repeat(10, 60px);
  border-left: 1px solid #eee;
  position: relative;
}

.appointment-card {
  background: #f8f7f4;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px;
  font-size: 13px;
  max-width: 200px;
}
.page-link {
  color: #b19e7f;
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  display: flex;             
  align-items: center;        
  justify-content: center;    
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #b19e7f;
}
.week-days {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.day-box {
  width: 50px;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.2s;
}

.day-box:hover {
  border: 1px solid #b19e7f;
}

.day-label {
  font-size: 12px;
  color: #666;
}

.day-date {
  font-weight: bold;
  font-size: 14px;
}

.day-box.selected {
  background: #b19e7f;
  color: #fff;
}
.appointment-card {
  background: #f8f7f4;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 13px;
  max-width: 200px;
  position: relative;
  transition: margin-left 0.3s ease;
}
