<div class="container startCase pb-5">
  @if(fromPage == 'appointments'){
  <div class="d-flex align-items-center mb-2">
    <p class="mb-0 route" [routerLink]="['/dashboard/appointments']">{{ "appointments" | translate }}</p>

    <a
      class="m-0 p-0 text-black mt-1 mx-1 clinicActive arrow-color"
      style="cursor: pointer" [routerLink]="['/dashboard/appointments']"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 clinicActive">{{ "Start Case" | translate }}</p>
    </div>
  </div>
}
  @if(fromPage == 'patient-profile'){
  <div class="d-flex align-items-center mb-2">
    <p class="mb-0 route" (click)="goBackToPatoentProfile()" >{{ "patient_profile" | translate }}</p>

    <a
      class="m-0 p-0 text-black mt-1 mx-1 clinicActive arrow-color"
      style="cursor: pointer" (click)="goBackToPatoentProfile()"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <div class="d-flex align-items-center mb-2">
      <p class="mb-0 clinicActive">{{ "Start Case" | translate }}</p>
    </div>
  </div>
}
  <div class="static3dModel">
    <img src="../../../../../assets/media/static-3dModel.png" alt="3d-model" />
  </div>
  <div class="chief-complaint-section">
    <h4>{{"Chief Complaint" | translate}}</h4>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">1.1 {{"Chief Complaint (CC)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Pain (tooth / jaw / TMJ)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Swelling (facial / gingival)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Bleeding" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Sensitivity (hot / cold / sweet)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Esthetic concerns (discoloration / malalignment)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Difficulty chewing" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Broken tooth" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Routine check-up / No complaint" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">1.2 {{"Nature of Complaint (HPI)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label><input type="checkbox" class="form-check-input" /> {{"Sharp" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Dull / Aching" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Throbbing / Intermittent" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Burning" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Pressure sensation" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">1.3 {{"Aggravating Factors (HPI)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label><input type="checkbox" class="form-check-input" /> {{"Hot" | translate}}</label>
        <label><input type="checkbox" class="form-check-input" /> {{"Cold" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Chewing / Biting" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Lying down / Nighttime" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"No specific factor" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">1.4 {{"Relevant Medical History (MH)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Diabetes (Type 1 / Type 2 – Controlled / Uncontrolled)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Cardiovascular disease / Hypertension" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Asthma / COPD" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Kidney / Liver disease" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Autoimmune disorders (Lupus, Rheumatoid Arthritis)" | translate}}</label
        >
        <label><input type="checkbox" class="form-check-input" /> {{"None"  | translate}}</label>
      </div>
    </div>
    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">1.5 {{"Medications of Concern (MH)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" /> {{"Anticoagulants (Warfarin)" | translate}}</label
        >
        <label
          ><input
            type="checkbox"
            class="form-check-input"
          />{{"Bisphosphonates" | translate}}</label
        >
        <label
          ><input
            type="checkbox"
            class="form-check-input"
          />{{"Immunosuppressants" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Drugs causing gingival overgrowth" | translate}}</label
        >
        <label><input type="checkbox" class="form-check-input" />{{"None" | translate}}</label>
      </div>
    </div>
  </div>
  <div class="chief-complaint-section">
    <h4>{{"Extraoral Examination" | translate}}</h4>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">2.1 {{"Facial Symmetry" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Symmetrical (Normal)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Asymmetrical (specify location & cause)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Facial paralysis" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Unilateral swelling" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">2.2 {{"Facial Profile" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Straight (Orthognathic – Class I)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Convex (Class II)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Concave (Class III)" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">2.3 {{"Lymph Nodes" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Non-palpable (Normal)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Palpable (specify: soft / firm-fixed / tender / nodular)" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">2.4 {{"TMJ Sounds" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"No sounds" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Clicking (Early / Late)" | translate}}</label
        >
        <label><input type="checkbox" class="form-check-input" />{{"Popping" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" />{{"Crepitus (Grinding)" | translate}}</label
        >
      </div>
    </div>
    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">2.5 {{"TMJ Opening" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Normal opening (40–50 mm)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Limited opening (<35 mm)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Deviation to right / left" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"S-shape or C-shape movement" | translate}}</label
        >
      </div>
    </div>
  </div>
  <div class="chief-complaint-section">
    <h4>{{"Soft Tissue & Periodontal Examination" | translate}}</h4>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">3.1 {{"Tongue / Soft Tissues" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label><input type="checkbox" class="form-check-input" />{{"Normal" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" />{{"Inflammation (red, painful)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Lesions (aphthous ulcers, herpes)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Leukoplakia" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Lichen Planus" | translate}}</label
        >
        <label><input type="checkbox" class="form-check-input" />{{"Torus" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" />{{"Macroglossia" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">3.2 {{"Gingival Color & Texture" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Coral pink, stippled (Healthy)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Red, shiny (Acute gingivitis)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Bluish, swollen (Chronic gingivitis)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Pigmented (Melanin pigmentation)" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">3.3 {{"Gingival Enlargement" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label><input type="checkbox" class="form-check-input" />{{"None" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" />{{"Localized" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Generalized" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Drug-induced (specify drug)" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">3.4 {{"Bleeding on Probing (BOP)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"None (Healthy)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Present on probing (Gingivitis)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Spontaneous bleeding" | translate}}</label
        >
      </div>
    </div>
    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">3.5 {{"Pocket Depth (PD)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"1–3 mm (Normal)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"4–5 mm (Mild / Moderate)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"≥6 mm (Deep)" | translate}}</label
        >
      </div>
    </div>
  </div>
  <div class="chief-complaint-section">
    <h4>{{"Dental & Occlusion" | translate}}</h4>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">4.1 {{"Angle’s Classification of Occlusion" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label><input type="checkbox" class="form-check-input" />{{"Class I" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" />{{"Class II (Division 1 / Division 2)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Class III" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">4.2 {{"Vertical Overlap (Overbite)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Normal (2–4 mm)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Deep bite" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Open bite" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">4.3 {{"Tooth Mobility (per tooth)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Grade 0 (<0.2 mm)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Grade I (0.2–1 mm, horizontal)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Grade II (>1 mm, horizontal)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Grade III (>1 mm, horizontal + vertical)" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">4.4 {{"Caries (ICDAS – per surface)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Code 0: Sound" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Code 1–2: Enamel change only" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Code 3–4: Enamel breakdown or dentin shadow" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Code 5–6: Obvious cavity with dentin exposure" | translate}}</label
        >
      </div>
    </div>
    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">4.5 {{"Existing Restorations" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Intact / Satisfactory" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Defective / Failed" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Overhanging margins" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Secondary caries" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Fractured / Lost crown" | translate}}</label
        >
      </div>
    </div>
    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">4.6 {{"Pulp Vitality (Cold Test)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Normal, quick response" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Prolonged pain (Irreversible pulpitis)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"No response (Pulp necrosis)" | translate}}</label
        >
        <label
          ><input
            type="checkbox"
            class="form-check-input"
          />{{"Hypersensitivity" | translate}}</label
        >
      </div>
    </div>
  </div>
  <div class="chief-complaint-section">
    <h4>{{"Diagnosis & Risk Assessment" | translate}}</h4>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">5.1 {{"Tooth Diagnosis (per tooth)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Reversible pulpitis" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Irreversible pulpitis" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Pulp necrosis" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Acute apical periodontitis" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Acute apical abscess" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">
            5.2 {{"Periodontal Diagnosis (2017 Classification)" | translate}}:
          </p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Periodontal health" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Gingivitis" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Periodontitis (Stage I–IV, Grade A–C)" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">5.3 {{"Caries Risk Assessment" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Low risk" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Moderate risk" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"High / Extreme risk" | translate}}</label
        >
      </div>
    </div>

    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">5.4 {{"Prognosis (Tooth / Case)" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Excellent / Good" | translate}}</label
        >
        <label><input type="checkbox" class="form-check-input" />{{"Fair" | translate}}</label>
        <label
          ><input type="checkbox" class="form-check-input" />{{"Questionable" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Hopeless" | translate}}</label
        >
      </div>
    </div>
    <div class="section">
      <div class="header-with-note">
        <div class="col-md-5">
          <p class="m-0 headerName">5.5 {{"Basic Treatment Plan" | translate}}:</p>
        </div>
        <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
      </div>
      <div class="checkbox-grid">
        <label
          ><input type="checkbox" class="form-check-input" />{{"Emergency / Pain relief" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Disease control phase (Fillings, Periodontal therapy)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{"Definitive care (Crowns, Bridges, Prosthetics)" | translate}}</label
        >
        <label
          ><input type="checkbox" class="form-check-input" />{{' Maintenance / Preventive phase' | translate}} </label
        >
      </div>
    </div>
  </div>
  <!-- IMAGE SECTION -->
  <div class="chief-complaint-section">
    <div class="header-with-note">
      <div class="col-md-5">
        <h4 class="m-0 headerName">{{"Image" | translate}}</h4>
      </div>
      <input type="text" [placeholder]="'Write note...' | translate" class="note-input" />
    </div>

    <div class="checkbox-grid">
      <label>
        <input
          type="checkbox"
          class="form-check-input"
          (change)="onImageTypeChange('real', $event)"
        />
        {{"Real Image" | translate}}
      </label>
      <label>
        <input
          type="checkbox"
          class="form-check-input"
          (change)="onImageTypeChange('xray', $event)"
        />
        {{"X-Ray" | translate}}
      </label>
    </div>

    <!-- ✅ Upload Box (one for both) -->
    <div class="upload-box" *ngIf="realChecked || xrayChecked">
      <div class="upload-header my-0">
        <p class="upload-title">Upload {{ selectedImageLabel }}</p>
        <label for="fileInput" class="upload-btn">
          <mat-icon>cloud_upload</mat-icon> {{"Choose Images" | translate}}
        </label>
      </div>

      <input
        type="file"
        id="fileInput"
        (change)="onFilesSelected($event)"
        accept="image/*"
        multiple
        hidden
      />

      <!-- Show uploaded images preview -->
      <div class="preview-gallery" *ngIf="uploadedFiles.length > 0">
        <div class="preview-item" *ngFor="let file of uploadedFiles">
          <img [src]="file.preview" [alt]="file.name" />
          <p class="file-label my-0">{{ file.name }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="process-strip">
  <div class="lang-selector d-flex align-items-center gap-2">
    <label class="me-2">{{"Record Language" | translate}}</label>
    <select [(ngModel)]="selectedLang" class="form-select" style="width:auto">
      <option value="en">{{"English" | translate}}</option>
      <option value="ar">{{"Arabic" | translate}}</option>
    </select>
  </div>

</div>
  <div class="record-wrap">
  <button class="mic-btn" [class.recording]="isRecording" (click)="toggleRecording()"
          [disabled]="permissionDenied">
    <span class="pulse" *ngIf="isRecording"></span>
    <mat-icon>{{ isRecording ? 'stop' : 'mic' }}</mat-icon>
  </button>
  <div class="record-status">
  <p class="status-text" *ngIf="!isRecording && !audioUrl">
    {{ permissionDenied ? ('Microphone permission denied' | translate) : ('Tap to record' | translate)}}
  </p>

  <p class="status-text recording-text" *ngIf="isRecording">
    {{"Recording" | translate}}...
  </p>

  <p class="status-text done-text" *ngIf="!isRecording && audioUrl">
    {{"Recording completed" | translate}}
  </p>

  <p class="timer" *ngIf="isRecording || audioUrl">{{ formattedTime }}</p>
</div>

</div>
<div class="record-preview" *ngIf="audioUrl">
  <audio [src]="audioUrl" controls></audio>
</div>
<div class="transcription-output mt-3 d-flex align-items-center" *ngIf="isRecording || transcriptionResult">
  <h6 class="my-0">📝 {{"Transcription Result" | translate}}:</h6>
  <p class="fs-5 ms-2 my-0">
    {{ transcriptionResult || 'No text fetch...' }}
  </p>
</div>


<div class="page-footer-btns">
  <button
    class="ai-btn"
    [routerLink]="aiLink()"
    [queryParams]="{ from: fromPage }"
  >
    {{ 'Generate AI' | translate }}
  </button>

  <button
    class="manual-btn"
    [routerLink]="manualLink()"
    [queryParams]="{ from: fromPage }"
  >
    {{ 'Manual Diagnosis' | translate }}
  </button>
</div>


</div> 


