.join-btn {
  background: linear-gradient(90deg, #b19e7f 0%, #4b4336 100%);
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 8px;
}
.btn-search {
  background-color: #b19e7f;
  color: #fff;
  border-radius: 25px;
  &:hover {
    background-color: #9b8a6b;
  }
}

.subscribe-link {
  color: #b19e7f;
  font-weight: 500;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.table thead th {
  font-weight: 600;
  background: #F9F9F9;
  color: var(--text-gray-head-table);
}
.table tbody td {
  background: transparent;
  cursor: pointer;
  color: var(--text-gray-home-about);
}

.page-link {
  color: #b19e7f;
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 20px;
}

.page-item.active .page-link {
  background-color: #b19e7f;
  color: #fff;
  border: none;
}
.search-wrapper {
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 5px 10px;
  width: 50%;
  background: var(--bg-primary);
}

.search-icon {
  color: #565656 !important;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #565656;
  background: var(--bg-primary);
}

.search-btn {
  background-color: #b19e7f;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #9b8a6b;
}


@media (max-width: 600px) {
  .search-box {
    width: 100% !important;
  }
  .search-responsive {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .header-responsive{
    margin: 10px 0px;
    padding-top: 10px;
  }
  .table thead th , .table tbody td {
  font-size: 12px;
  }
  .subscribe-link{
    font-size: 13px;
    font-weight: 600 !important;
  }
  .title-table{
    font-size: 13px !important;
    font-weight: 600 !important;
  }
  .join-btn{
    font-size: 18px !important;
  }
}