.new-appointment-btn {
  background: var(--bg-brown-gradient);
  color: #fff;
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
  font-weight: 500;
  margin: 5px 0px;
}
.history-details {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-light-gray);
  color: var(--text-gray) !important;
  border-radius: 6px;
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 10px 5px 0px 5px;
}
.card {
  background-color: var(--bg-white-secondary);
  padding: 10px;
  border-radius: 12px;
  color: var(--text-gray);
  mat-icon {
    margin: 0px 5px;
    color: var(--bg-brown-medium);
  }
  p {
    margin: 0px 5px;
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .history-details {
    font-size: 0.9rem;
  }
}