<div class="container">
  <div class="row mx-3">
    <div class="col-12 d-flex align-items-center justify-content-end">
      <button class="new-appointment-btn w-auto d-flex align-items-center">
        <mat-icon>add</mat-icon>
        {{ "add_appointment" | translate }}
      </button>
    </div>
  </div>
  <div class="row mb-3 mx-2">
    <div class="col-12 d-flex align-items-center justify-content-start">
        <div class="history-details">
            <mat-icon>calendar_today</mat-icon>
            <span>10 May 2024</span>
        </div>
        <div class="history-details">
            <mat-icon>schedule</mat-icon>
            <span>10 May 2024</span>
        </div>
    </div>
  </div>
  <div class="row mb-3 mx-3">
    <div class="card col-12 mb-3" *ngFor="let patientHistory of patientAppointmentHistory">
        <div class="d-flex align-items-center justify-content-start my-1">
            <mat-icon>calendar_today</mat-icon>
            <span>{{patientHistory.date}}</span>
        </div>
        <div class="d-flex align-items-center justify-content-start my-1">
            <mat-icon>schedule</mat-icon>
            <span>{{patientHistory.startTime}} {{"To"}} {{patientHistory.endTime}}</span>
        </div>
        <div class="my-1">
            <p>{{"diagnoses" | translate}}: <span class="fw-bold">Start root</span></p>
        </div>
    </div>
  </div>
</div>
