.assign-case {
  .route {
    color: #8f8f8f;
    font-weight: 400;
    font-family: "IBM Plex Sans";
    font-size: 27px;
    cursor: pointer;
  }
  .clinicActive {
    color: var(--text-gray-head-table) !important;
    font-family: "IBM Plex Sans";
    font-size: 30px;
    font-weight: 500;
  }
  .first-section {
    border-right: 2px solid #acacac;
  }
  .userProfile {
    background: var(--background-gray-head-table);
    padding: 10px;
    border-radius: 24px;
    .userName {
      color: var(--user-name);
      font-size: 30px;
      font-weight: 400;
    }
    .userdetails {
      color: var(--text-light-gray-placeholder);
      font-size: 20px;
    }
  }
  .date-time {
    color: var(--text-black-light-gray);
    font-size: 24px;
  }
  .form-control,
  .form-select {
    border: 1px solid #737373 !important;
    padding: 9px !important;
    color: var(--text-light-gray-placeholder) !important;
    background: var(--bg-primary) !important;
  }
  .form-control::placeholder,
  .form-select::placeholder {
    color: var(--text-light-gray-placeholder) !important;
  }
  .form-label {
    color: var(--text-gray-head-table) !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    margin-bottom: 0px !important;
  }
  .custom-dropdown {
    .btn.form-select {
      text-align: left;
      background: #fff;
      border: 1px solid #ccc;
    }

    .dropdown-menu {
      width: 100%;
      max-height: 250px;
      overflow-y: auto;
      border-radius: 12px;
    }

    .search-wrapper {
      width: 100%;
    }

    .search-box {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 25px;
      padding: 5px 10px;
      background: var(--bg-primary);
    }

    .search-icon {
      color: #565656 !important;
    }

    .search-input {
      flex: 1;
      border: none;
      outline: none;
      font-size: 14px;
      color: #565656;
      background: var(--bg-primary);
    }

    .search-btn {
      background-color: #b19e7f;
      color: var(--bg-white);
      border: none;
      border-radius: 20px;
      padding: 7px 20px;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }

    .search-btn:hover {
      background-color: #9b8a6b;
    }

    .med-list {
      max-height: 150px;
      overflow-y: auto;
    }

    .form-check {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 0;
      border-bottom: 1px solid #eee;

      .form-check-label {
        order: 1;
        font-size: 16px;
        color: var(--text-gray-head-table);
      }

      .form-check-input {
        order: 2;
        width: 20px;
        height: 20px;
        cursor: pointer;
        accent-color: #b19e7f;
      }

      .form-check-input:checked {
        background-color: #b19e7f;
        border-color: #b19e7f;
      }
    }
  }

  .page-footer-btns {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
    padding-bottom: 30px;

    button {
      border: none;
      border-radius: 6px;
      padding: 10px 35px;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s ease;
      width: 50%;
    }

    .send-to-patient-btn {
      background: var(--bg-sec-brown-gradient);
      color: #fff;

      &:hover {
        opacity: 0.9;
        transform: translateY(-2px);
      }
    }

    .cancel-btn {
      background: var(--bg-primary);
      border: 1.5px solid #b19e7f;
      color: #8b7a5e;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}
@media (max-width: 576px) {
  .route,
  .clinicActive {
    font-size: 14px !important;
  }
  .userName {
    font-size: 21px !important;
  }
  .userdetails {
    font-size: 16px !important;
  }
  .date-time {
    font-size: 16px !important;
  }
  .responsive-date {
    margin-top: 7px;
  }
  .first-section {
    border-right: none !important;
  }
}
