.route {
  color: #8f8f8f;
  font-weight: 400;
  font-family: "IBM Plex Sans";
  font-size: 27px;
}
.clinicActive {
  color: var(--text-gray-head-table);
  font-family: "IBM Plex Sans";
  font-size: 30px;
  font-weight: 500;
}
