.route {
  color: white;
  font-weight: 400;
  font-family: "IBM Plex Sans";
  font-size: 27px;
}

.clinicActive {
  color: white;
  font-family: "IBM Plex Sans";
  font-size: 30px;
  font-weight: 600;
}

.bg-profile {
  background-image: url("../../../../../../../../../assets/media/Vector.svg");
  background-color: #B19E7F;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 120px;
  .first-section {
    padding: 0px 26px;

  }

  .pic-profile {
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin-bottom: 10px;
  }
  .icon-bg{
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
  }

}
.wave-container {
  margin-top: -125px;
}
// .wave-container {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   overflow: hidden;
//   line-height: 0;
//   transform: rotate(180deg); // لو عايزها تنزل لتحت
  
//   svg {
//     position: relative;
//     display: block;
//     width: 100%;
//     height: 120px; // ممكن تزود أو تقلل حسب احتياجك
//   }
// }