.clinic-home-container {
  display: flex;
  min-height: 80vh;
//   padding: 40px;
  position: relative;
}
@keyframes sidebarSlideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar {
  animation: sidebarSlideIn 0.2s ease-out forwards;
}

.sidebar {
  margin-left: 20px;
  width: 270px;
  height: 80vh;
  background: var(--bg-primary);
  border: 1px solid var(--text-gray-home-about);
  padding: 0px 20px;
  border-radius: 14px;
  animation: sidebarSlideIn 0.5s ease-out forwards;
  transition: width 0.8s ease, background-color 0.4s ease;

  ul {
    list-style: none;
    padding: 0;

    li {
      color: var(--text-gray-home-about);
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 12px 0;
      cursor: pointer;
      font-weight: 500;
    }
  }

  &.closed {
    width: 70px; 
    background-color: #7d6e59;
    margin-left: 5px;

    mat-icon {
      color: #fff !important;
    }
  }
}

img {
    width: 22px; 
    height: 22px;
    object-fit: contain; 
    background: var(--text-gray-home-about);;
  }

.sidebar ul li.active {
  background: var(--bg-brown-gradient);
  border-radius: 8px;
  color: #fff;
  padding: 10px;

  mat-icon {
    color: #fff !important;
  }
}

.sidebar.closed ul li.active {
  background: var(--bg-brown-medium);           
  justify-content: center; 
  align-items: center;
  border-radius: 50%;
  padding: 2px; 
  
  mat-icon {
    color: #fff !important;                  
  }
}



.main-content {
  flex-grow: 1;
  padding: 0px 20px;
}



